.write-page{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .board-select-bar{
          flex-direction: row;
          height: 130px;
          width: 100%;



          .category{
              flex-direction: column;
              background-color: #00bcd4;
              width: 50%;
              height: 100%;
              justify-content: center;
              border-radius: 16px;
              margin: 8px;
              padding: 8px;

              text{
                  padding: 8px;
                  font-size: 20px;
              }
              select {

                    color: #ffffff;
                    font-size: 50px;

                    option{
                      padding: 8px;
                      justify-content: center;
                    }
              }
          }

          .board {
              flex-direction: column;
              width: 50%;
              background-color: #ffbc4d;
              height: 100%;
              border-radius: 16px;
              margin: 8px;
              padding: 8px;

              justify-content: center;

                            text{
                                padding: 8px;
                                font-size: 20px;
                            }

              select{

                    color: #ffffff;
                    font-size: 40px;


                    option{
                      padding: 16px;
                      justify-content: center;
                    }
              }

          }



    }


    .write-content{
          flex-direction: column;
          width: 100%;
          height: 100%;

          justify-content: flex-start;
          align-items: flex-start;
          .input{
                width: 100%;
                margin: 16px;
                padding: 8px;
          }

          .input-content {

              border-bottom-width: 0.5px;
              border-color: #00bcd4;
          }

          .input-title{

              border-bottom-width: 0.5px;
              border-color: #00bcd4;
          }

          .input-header{
                width: 100%;
                height: 10%;

                .input-title{
                      width: 70%;
                      height: 100%;
                }

                .btn{
                      width: 30%;
                      height: 100%;
                      background-color: #ffbc4d;
                      color: #ffffff;
                      padding: 9px;
                      border-radius: 16px;
                }


          }

          .input-content{
            height: 70%;
          }

          .input-classifi{
                height: 20%;
                flex-direction: row;
                margin: 0px;
                padding: 0px;

                .classi-text{
                  background-color: #eeeeee;
                  border-radius: 8px;
                  font-size: 40px;
                  margin:16px;
                  padding: 16px;
                }


                .active{
                      background-color: #00bcd4;
                      color: #eeeeee;
                      font-size: 40px;
                }
          }


    }

}
