

.slash-page{


    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;

    .pic-container{
        margin-top: -100px;
        height: 100%;
        width: 100%;
        border-radius: 40px;
    }

    .bottom-bar{
        width: 100%;
        height: 100px;


        text{
            width: 100%;
            height: 100%;
            font-size: 60px;
            color: #00bcd4;
            text-align: center;
            padding: 20px;

        }

    }

}
