

  .main-page {

      flex-direction: column;

      stack{
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;


      }

      .page{
          height: 100%;
          width: 100%;
          flex-direction: column;



            .paper{
                height: 100%; 
            }


            .top-tab-bar{

                  flex-direction: row;
                  width: 100%;

                    text{
                        text-align: center;
                        flex-grow: 1;
                        height: 100px;
                    }

                    .active{
                        margin-bottom: 16px;
                        border-bottom-width: 4px;
                        border-color: #00bcd4;
                    }

                    .search{



                        justify-content: flex-end;
                        align-items: flex-end;
                        height: 84px;
                        margin-right:8px;
                        
                        image{

                            width: 64px;
                            height:64px;
                            resize-mode:contain;
                        }
                    }

            }



            .tab-bar{

                  flex-direction: row;
                  width: 100%;

                  text{
                    text-align: center;
                    flex-grow: 1;
                    height: 100px;
                  }

                  .active{
                    background-color: #00bcd4;
                    color: #ffffff;
                  }


            }

      }


  }


  .hide{
      height: 0px;
  }
