

  .main-page {

      flex-direction: column;

      stack{
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;


      }

      .page{
          height: 100%;
          width: 100%;
          flex-direction: column;


            .paper{
                height: 100%;


            }



            .tab-bar{

                  flex-direction: row;
                  width: 100%;

                  text{
                    text-align: center;
                    flex-grow: 1;
                    height: 100px;
                  }

                  .active{
                    background-color: #ffbc4d;
                    color: #ffffff;
                  }

                  .username {
                    background-color: #00bcd4;
                    color: #ffffff;
                  }

            }

      }


  }


  .hide{
      height: 0px;
  }
