  @import "../Comp/base.less";



  .main-page {

      flex-direction: column;

      stack{
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;


      }

      .page{
          height: 100%;
          width: 100%;
          flex-direction: column;



            .paper{
                height: 100%;
            }


            .top-tab-bar{

                  flex-direction: row;
                  width: 100%;

                  .top-tab-active {
                    margin-bottom: 14px;
                  }
                    text{
                        text-align: center;
                        flex-grow: 1;
                        height: 100px;
                    }



                    > stack{

                      flex-direction: row;
                      height: 100px;
                    }

                    .shadown-to-right{
                      width: 55px;
                      margin-left: 5px;
                      height: 100px;
                      background: linear-gradient(to right,rgba(0,0,0,0.25),rgba(255,255,255,0));
                      /* border-radius: 30px; */
                    }

                    .search{
                      justify-content: center;
                      padding: 16px;
                      padding-left: 40px;
                      margin-left: -40px;
                      align-items: center;
                      margin-right: 8px;
                      height: 100px;
                      background-color: @primaryColor;
                      border-radius: 48px;

                        image{

                            width: 64px;
                            height:64px;
                            resize-mode:contain;
                            transform: scaleX(-1);
                        }
                    }

            }



            .tab-bar{

                  flex-direction: row;
                  width: 100%;
                  height: 100px;

                  image{
                    height: 100px;
                    padding: 16px;
                    flex-grow:1;
                    resize-mode: contain;
                  }

                  text{
                    text-align: center;
                    flex-grow: 1;
                    height: 100px;
                  }



            }

      }


  }


  .hide{
      height: 0px;
  }
