
  .board-page{
        flex-direction: column;




        stack{
          height: 100%;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

        }

        .page{

              height: 100%;
              width: 100%;
              flex-direction: column;



              .board-top-bar {
                height: 100px;
                width: 100%;
                flex-direction: row;

                      .foruminfo-title {
                            height: 100%;
                            width: 30%;


                            .title {
                              padding:10px;
                              color: #ffbc4d;

                              border-right-width: 2px;
                              border-color: #ffbc4d;
                            }

                            .active{
                              padding: 0px;
                              color : #00bcd4;
                              font-size: 40px;
                              border-right-width: 0px;
                            }


                        }

                    .child-boards{
                          flex-direction: row;

                          text {
                            margin: 16px;
                          }


                          .active{
                            color : #00bcd4;
                            font-size: 40px;
                            border-right-width: 0px;
                          }

                    }

              }

              .board-content {
                    height: 100%;

                    .tab-content{
                          height: 100%;
                          background-color: #eeeeee;
 
                    }
              }

        }


        .float-bar{
              margin-bottom:148px;
              margin-right: 16px;

              .btn-action{
                    flex-direction: row;
                    margin-right :16px;

                    background-color: #00bcd4;
                    height: 40px;
                    width: 40px;
                    border-width: 40px;
                    border-color: #00abc3;
                    border-radius: 40px;

                    text{
                      color: #ffffff;
                      flex-grow: 1;
                      text-align: center;
                    }

                    .close-action-bar{
                      background-color: #ffffff;
                      height: 30px;
                      width: 30px;
                      border-width: 10px;

                      border-color: #ffffff;
                      border-radius: 15px;
                    }
              }

              .active{
                width: 200px;
                height:80px;
                border-width: 10px;
              }
        }
  }
