.card{
    width: 100%;
    background-color: #ffffff;
    margin-left: 16px;
    margin-right:16px;
}

.card-ex{
  width: 100%;
  background-color: #ffffff;

  padding: 8px;
}


.card-danger {
  background-color: #ff645e;
}


.card-border-header {
  margin-top: 16px;
}

.card-border {
  height: 16px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;


  .card-content {
    height: 32px;
    width: 100%;
    border-radius: 16px;
    background-color: #ffffff;
  }

  .card-footer {
    margin-top: -16px;
  }

  .card-header {
    margin-bottom: -16px;
  }
}
